@model IEnumerable<Bookstore.Domain.Entities.Books.Book>

@{
    ViewBag.Title = "Index";
}

<h2>Catálogo de Livros</h2>

<div id="filter-options" class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapse-options">
        <span class="panel-title panel-heading"><i class="glyphicon glyphicon-filter"></i> Filtros</span>
    </div>

    <div id="collapse-options" class="panel-collapse collapse">
        <div class="panel-body">
            CONFIG
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Ajax.ActionLink("Título", "List", "Books", new { sortOrder = "Title" }, new AjaxOptions { UpdateTargetId = "tableBody" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Autor", "List", "Books", new { sortOrder = "Author" }, new AjaxOptions { UpdateTargetId = "tableBody" })
                    </th>
                    <th>
                        Sinopse
                    </th>
                    <th>
                        @Ajax.ActionLink("Preço", "List", "Books", new { sortOrder = "Price" }, new AjaxOptions { UpdateTargetId = "tableBody" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Ano", "List", "Books", new { sortOrder = "YearPublished" }, new AjaxOptions { UpdateTargetId = "tableBody" })
                    </th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>

            <tbody id="tableBody">
                @Html.Action("List")
            </tbody>
        </table>
    </div>

    <div class="panel-footer">
        <a href="@Url.RouteUrl(new { controller = "Books", action = "Create", category = "catalog", subcategory = "create" })" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>  Cadastrar Novo Livro</a>
    </div>
</div>

@section Optional {

    @{ Html.RenderPartial("_RenderNotificationModal"); }

}
