<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/styles.css" rel="stylesheet" />

    <!-- INCLUIR COM RAZOR CSS ESPECIFICO DE CADA PAGINA -->
    <link href="~/Content/css/pages/dashboard.css" rel="stylesheet" />
    <link href="~/Content/css/pages/manage-users.css" rel="stylesheet" />
    <link href="~/Content/css/pages/search-filter.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Action("TopMenu", "Nav")

    <div class="container-fluid">
        <div class="row">
            <div class="l-sidebar col-sm-3 col-md-2 sidebar">
                @Html.Action("Menu", "Nav");
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                @if (TempData["message"] != null)
                {
                    <div class="alert @TempData["status"] fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        @Html.Raw(TempData["message"])
                    </div>
                }

                @RenderBody()
                @RenderSection("Optional", required: false)
            </div>
        </div>
    </div>

    <!-- JQuery e plugins relacionados -->
    <script src="~/Content/js/frameworks/jquery/jquery-1.8.3.min.js"></script>
    <script src="~/Content/js/frameworks/jquery/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Content/js/frameworks/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/js/frameworks/jquery/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/frameworks/jquery/jquery.maskedinput.min.js"></script>

    <!-- Bootstrap e plugins relacionados -->
    <script src="~/Content/js/frameworks/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/js/frameworks/bootstrap/bootstrap-datepicker.js"></script>
    <script src="~/Content/js/frameworks/bootstrap/locales/bootstrap-datepicker.pt-BR.js"></script>
    <script src="~/Content/js/frameworks/bootstrap/ie10-viewport-bug-workaround.js"></script>

    <!-- Custom -->
    <script src="~/Content/js/frameworks/jquery/methods_pt.js"></script>
    <script src="~/Content/js/scripts.js"></script>
</body>
</html>
